.Card-Category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

@media only screen and (max-width: 768px) {
  .Card-Category {
    grid-template-columns: 1fr 1fr;

  }
}

@media only screen and (max-width: 480px) {
  .Card-Category {
    grid-template-columns: 1fr;
  }
}